{% extends 'base.html' %}

{% block content %}

<style>
    body{
    background-color: #040404;
    }

    table, th, td{
        border-style: solid;
        border-color: #0093BA;
    }

    h1{
        color: #3CE9EA;
        font-family: "Courier";
    }

    h3{
        color: #3CE9EA;
        font-family: "Courier";
    }

    h4{
        color: #3CE9EA;
        font-family: "Courier";
    }

    th{
        color: #3CE9EA;
        font-family: "Courier";
    }

    td{
        color: #3CE9EA;
        font-family: "Courier";
    }

    a{
        color: #FFFFFF;
        font-family: "Courier";
    }

    button{
        background-color: #3CE9EA;
        color: #040404;
        font-family: "Courier";
        font-weight: bold;
    }
</style>

<!----------------------------------------------------------------------------------------------------------->
    <h1>WeirdWired</h1> 
    <h3>( pronounced: wɪrd waɪrd )</h3>
    <h3>A collection of random items found to be scattered around The Wired.</h3>

    <h4>Name: {{ name }}</h4>
    <h4>Class: {{ class }}</h4>

    <h4>You have collected {{items.count}} types of items from The Wired, {{total_item}} amount of items in total.</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.description}}</td>
                <td>{{item.date_added}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
{% endblock content %}