{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}
<style>
    body{
        background-color: #040404;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
    }

    h1{
        color: #3CE9EA;
        font-family: "Courier";
    }

    th{
        color: #3CE9EA;
        font-family: "Courier";
    }

    td{
        color: #3CE9EA;
        font-family: "Courier";
    }

    a{
        color: #FFFFFF;
        font-family: "Courier";
    }

    ul{
        color: #3CE9EA;
        font-family: "Courier";
    }

    li{
        color: #3CE9EA;
        font-family: "Courier";
    }

    .submit_btn{
        background-color: #3CE9EA;
        color: #040404;
        width: 110px;
        border: 3px solid #0093BA;
        box-sizing: border-box;
        font-family: "Courier";
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;

        margin-top: 20px;
        transition: background-color 0.3s;
    }

    .submit_btn:hover{
        background-color: #0093BA;
    }

    .register-main{
        width: 100%;
    }

    .register-cont{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
        width: 65%;

        margin-left: auto;
        margin-right: auto;
    }

    input{
        border: 3px solid #66CDDD;
        background: transparent;
        color: #66CDDD;
        font-family: "Courier";
        padding-left: 15px;
        box-sizing: border-box;

        margin-bottom: 20px;
    }
</style>  

<!----------------------------------------------------------------------------------------------------------->

<div class = "register-main">

    <div class="register-cont">
    <h1>Register</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" class="submit_btn" value="Register"></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
            {% endfor %}  
        </ul>   
    {% endif %}
    </div>
</div>  

{% endblock content %}